@page "/programa/5"

@using tarea2.Data
@inject NumberService numService

<h1>Programa 5</h1>

<p>Acepte un numero del 1 al 100000, mostrarlo en letras. Ejemplo 90 => noventa. (En español)</p>

<div>
    Numero <input type="numer" @bind-value="@num">
    <br><br>
    
    <button class="btn btn-primary" @onclick="ConvertAsync">Convertir</button>
    <br><br>

    <p><b>Letras:</b> @letras</p>
</div>

@code {
    private int num;
    
    private string letras;

    public async Task ConvertAsync()
    {
        letras = await numService.GetNumAsync(num);
    }
}
