@page "/programa/3"

<h1>Programa 3</h1>

<p>Acepte un numero de una cedula dominicana y determine si es valida. (sin usar api).</p>
<p>Ingrese su cedula sin guiones</p>

<div>
    Cédula <input type="text" pattern="[0-9]\d{11}" @bind-value="cedula">
    <br><br>

    <button class="btn btn-primary" @onclick="Validar">Verificar</button>
</div>

<div>
    <br>
    @if (esReal && cedula != null)
    {
        <b>Es una cedula valida</b>
    }
    else
    {
        <b>Es una cedula invalida</b>
    }
</div>

@code {
    private String cedula;

    private bool esReal;

    public void Validar () {
        cedula = cedula.Replace("-", "");

        if (int.TryParse(cedula, out int number) && cedula.Length == 11) {
            int digitoVerificador = int.Parse(cedula[10].ToString());
            
            int sum = 0;
            for (int i = 9; i >= 0; i--) {
                if (i % 2 == 0) {
                    sum += int.Parse(cedula[i].ToString());
                } 
                else {
                    int num = int.Parse(cedula[i].ToString()) * 2;
                    
                    if (num > 10) {
                        sum += (num % 10) + 1;
                    }
                    else {
                        sum += num;
                    }
                }
            }
            
            int verificador = 10 - (sum % 10);
            
            if ((verificador == 10 && verificador == 0) || verificador == digitoVerificador) {
                esReal = true;
            }
            esReal = false;
        }
        esReal = false;
    }
}
