@page "/programa/1"

<h1>Programa 1</h1>
<p>Acepte una frase u oración, luego muestre la cantidad de vocales, espacios y consonantes que tiene la misma.</p>

<div>
    <input type="text" placeholder="frase" @bind-value="@Content" width="100%">
    <br><br>
    <button class="btn btn-primary" @onclick="Count">Calcular</button>
</div>

<br>

@if (Result != null)
{
    <div>
        <p><b>Espacios:</b> @Result.Espacios</p>
        <p><b>Vocales:</b> @Result.Vocales</p>
        <p><b>Consonantes:</b> @Result.Consonantes</p>
    </div>
}
