@page "/"

<h1>Hola profesor :D</h1>

<img src="assets/yo.jpeg" alt="Yo" width="150">

<b>Nombre:</b> Elmer Gonzalez
<br>
<b>Telefono:</b> (829) 562-5169
<br>
<b>Correo:</b> 20198091@itla.edu.do
